.para1{
	font-family: $font-family;
	font-size: $font-size * 2;
	margin: 10px 175px;
	text-align: center;
	word-spacing: 20px;
	color: $font-color;
}

.para2{
	font-family: $font-family;
	font-size: $font-size;
	margin: 25px;
	padding-right: 10px;
	text-weight: bold;
	word-spacing: 2px;
	color: $font-color;
}

body {
	background-color: $background-color;
}